exportPattern("^[[:alpha:]]+")    

 importFrom(RColorBrewer, brewer.pal)
 importFrom(Hmisc, capitalize)
 importFrom(reshape2, dcast)
 importFrom(classInt, classIntervals, findColours, findCols)
 importFrom(sp, spplot)
 importFrom(sf, st_read, as_Spatial)
 importFrom(colorspace, sequential_hcl)
 importFrom(ttutils, isInteger)
 import(survey, lattice)
 S3method(print, plotStats)